<!-- <h1>Start</h1>
<div *ngIf="trainingDone()" class="timer">
    <div *ngIf="timeLeft != 0" class="wait">
        <p>{{timeLeft}} Seconds Left....</p>
        <button (click)='addTime(timeLeft)'>Add 5 sec</button>
        <button (click)='skipTimer()'>Skip</button>
    </div>
    <div *ngIf="timeLeft == 0" class="exerciseNow">
        {{ training.reps[shownEx] }} {{ training.exercise[shownEx].name }}
        <button (click)='exerciseDone()'>Done!</button>
    </div>
    <li *ngFor="let i = shownEx" class="exercise {{ training.exercise[i].id }}">
        <a >{{ training.reps[i] }} {{ training.exercise[i].name }}</a>
    </li>
</div>
<div *ngIf="!trainingDone()" class="exercises">
    <h1>Done</h1>
    <a routerLink="/Trainings">return to home</a>
</div> -->
<!-- <button (click)='pauseTimer()'>for test</button> -->

