<div class="main">
    <div *ngIf="done" class="training">
        <div *ngIf="timeLeft != 0" class="wait">
            <p>{{timeLeft}} Seconds Left....</p>
            <button (click)='skipTimer()'>Skip</button>
        </div>
        <button *ngIf="timeLeft != 0" (click)='addTime(timeLeft)' class="timerAdd">+</button>
        <div *ngIf="timeLeft == 0" class="exerciseNow">
            {{ this.ex[shownEx].reps }} {{ this.ex[shownEx].name }}
            <button (click)='exerciseDone()'>Done!</button>
        </div>
        <li *ngFor="let i = shownEx" class="exercise">
            <a >{{ this.ex[i].reps }} {{ this.ex[i].name }}</a>
        </li>
    </div>
    <div *ngIf="!done" class="exercises">
        <h1>Done</h1>
        <a routerLink="/">return to home</a>
    </div>
</div>
<button (click)='pauseTimer()'>pause for test</button>

