<a routerLink="/" class="return">Return</a>

<h1 class="nameInput">{{ training.name }}</h1>
  
<div class="seperate">
    <div class="training_states">
        <!-- <p>Duration: {{ training.getDuration() }}</p> -->
        <!-- <p>Level: {{ training.getLevelString() }}</p> -->
        <p>Exercises: </p>
        <!-- <ul class="trainings_exercises">
            <li class="{{ exercise_id }}" *ngFor="let e of ex">{{ e.name }}</li>
        </ul> -->
        <button class="start_training" [routerLink]="['train']">Start</button>
    </div>
    <div class="info">
        <!-- <h2 *ngIf = "training.rounds == 1">One round</h2>
        <h2 *ngIf = "training.rounds != 1">{{ training.rounds }} rounds</h2> -->
        <p class="rounds_main">rounds: {{ training.sets.length }}</p>
        <div cdkDropList class="sets" (cdkDropListDropped)="drop_rounds($event)">
            <div cdkDrag class="training_exercises" *ngFor="let round of this.training.sets;index as i"  cdkDragLockAxis="y" cdkDragBoundary=".sets">
                <p class="rounds">{{ round.reps }}</p>
                <il cdkDropList class="exs" (cdkDropListDropped)="drop_ex($event, i)">
                    <ul cdkDrag class="ex" *ngFor="let ex of round.ex" cdkDragBoundary=".exs" cdkDragLockAxis="y">
                        <mat-form-field appearance="fill">
                            <input matInput type="number" class="example-left-align" placeholder="{{ ex.reps }}">
                            <p>{{ ex.name }}</p>
                        </mat-form-field>
                    </ul>
                </il>
                <button class="ex" style="width: 100%;text-align: center;" (click)="openDialog()">+</button>
            </div>
        </div>
        <button class="save" (click) = "save()">Save</button>
    </div>
</div>